.FullInfo {
    border: 2px solid black;
    padding: 10px;
    margin: 5%;
    height: auto;
    display: flex;
    box-sizing: border-box;
}
.ImgBlock {
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 30px;
}
.TextBlock {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
